@{
    Layout = "_LayoutAdmin";
}

@model Moonglade.Web.Models.CategoryEditViewModel

<h3>
    删除分类
</h3>
<hr />

<div class="alert alert-warning">您确定要删除此分类吗?</div>

<table class="table table-bordered">
    <tr>
        <td class="table-item-w30">
            <strong>@Html.DisplayNameFor(model => model.DisplayName)</strong>
        </td>
        <td>
            @Html.DisplayFor(model => model.DisplayName)
        </td>
    </tr>
    <tr>
        <td class="table-item-w30">
            <strong>@Html.DisplayNameFor(model => model.Name)</strong>
        </td>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
    </tr>
    <tr>
        <td class="table-item-w30">
            <strong>@Html.DisplayNameFor(model => model.Note)</strong>
        </td>
        <td>
            @Html.DisplayFor(model => model.Note)
        </td>
    </tr>
</table>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />

    <div class="form-actions no-color">
        <input type="submit" value="删除" class="btn btn-danger" />
        <a asp-action="Manage" class="btn btn-secondary">取消</a>
    </div>
</form>