@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common
@model X.PagedList.StaticPagedList<Moonglade.Auditing.AuditEntry>
@{
    Layout = "_LayoutAdmin";
}

<partial name="_SettingsHeader" />

@if (null != ViewBag.IsServerError && ViewBag.IsServerError)
{
    <partial name="_ServerErrorMessage" />
}
else
{
    if (null != ViewBag.AuditLogDisabled && ViewBag.AuditLogDisabled)
    {
        <div class="alert alert-warning">
            审计日志已禁用。
        </div>
    }
    else if (Model.Any())
    {
        <a href="javascript:;" class="btn btn-danger" data-toggle="modal" data-target="#clearauditModal">清除日志</a>

        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>时间(UTC)</th>
                    <th>事件类型</th>
                    <th>事件Id</th>
                    <th>信息</th>
                    <th>用户名</th>
                    <th>机器名称</th>
                    <th>IP</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.EventTimeUtc
                        </td>
                        <td>
                            @item.EventType
                        </td>
                        <td>
                            @item.EventId
                        </td>
                        <td>
                            @item.Message
                        </td>
                        <td>
                            @item.Username
                        </td>
                        <td>
                            @item.MachineName
                        </td>
                        <td>
                            @item.IpAddressV4
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @Html.PagedListPager(Model, page => $"?page={page}", new PagedListRenderOptions
        {
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
            UlElementClasses = new[] { "pagination justify-content-end" },
            MaximumPageNumbersToDisplay = 5,
            DisplayEllipsesWhenNotShowingAllPageNumbers = false
        })
    }
    else
    {
        <div class="alert alert-info">
            没有审计日志.
        </div>
    }
}

<div class="modal fade" id="clearauditModal" tabindex="-1" role="dialog" aria-labelledby="clearauditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clearauditModalLabel">清除日志</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                您确定吗？所有审核日志将被删除！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <a asp-action="ClearAuditLogs" class="btn btn-danger btn-clear">确认</a>
            </div>
        </div>
    </div>
</div>
